.navbar {
    position: sticky;
    top: 0;
    padding: 10px 50px;
    z-index: 1;
  }
  
  .nav-item {
    margin: 0px 20px;
  }
  
  .navbar-brand {
    color: white;
    font-size:25px;
    font-weight: bold;
  }
  
  .navbar-nav {
    margin-right: 50px;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: rgb(93, 151, 151);
  }
  
.container-form{
   
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.container-form label{
    margin:10px auto;
}
.container-form input{
    width:500px;
    
}
.container-form textarea{
    width:500px;
    
}
#disp-id,#disp-name,#disp-image,#disp-price,#disp-description{
    color:red;
}
.row{
    width:100%;
    display:flex;
    align-items: center;
}
.table{
    width: 90%;
    
}